:root {
  --clr--primary--100: lch(94.1% 0 0);
  --clr--primary--200: lch(87.59% 71.11 89.47);
  --clr--red: lch(58.38% 73.54 30.45);
  --clr--red-sangira: lch(33.65% 70.91 38.76);
  --clr--blue--darker: lch(30.74% 22.34 277.05);
  --clr--blue--light: lch(81.14% 18.4 237.29);
  --clr--yellow--light: lch(92.34% 37.06 93.5);

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --ff--additional: 'Amatic SC', cursive;
  --ff--basic: 'Josefin Sans', sans-serif;

  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: lch(75.93% 43.16 331.06);
  --underline-cap-width: 4px;
  --underline-padding-x: 0.12em;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff--basic);
  font-size: var(--fs-400);
  color: var(--clr--blue--darker);
}

h2,
h3 {
  font-family: var(--ff--additional);
  font-weight: 700;
  font-size: var(--fs-700);
  text-align: center; 
}

h2 {
  padding: 30px 0 8px;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: .3em;
  width: 20%;
  height: 14px;
  padding-left: .7em;
  transform: skew(-12deg) translateX(-50%);
  background: var(--clr--red);
  opacity: .5;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
  margin: 0;
  line-height: 1.1;
}

.external-link {
  color: var(--clr--red-sangira);
  opacity: .9;
}

.external-link:hover, .external-link:focus {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-block: .75em;
  border-left: 2px solid var(--clr--red);
}

.container-nav {
  padding-block: 0;
}

.d-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.small_font {
  font-size: .9rem;
  padding-top: 5rem;
}

.italic {
  font-style: italic;
}

/* navigation */

header {
  background-color: var(--clr--blue--darker);
  font-family: var(--ff--additional);
  height: 100px;
  width: 100%;
}

.logo__link {
  color: var(--clr--red);
  margin-left: .5em;
  font-size: var(--fs-900);
  font-weight: 700;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.nav__list {
  display: flex;
  gap: 2em;
  font-size: var(--fs-700);
}

.nav__link {
  color: var(--clr--primary--200);
}

.nav__link:hover {
  color: var(--clr--red);
}

.nav__toggle {
  display: none;
}

 .hamburger .line {
  transition:
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    x 200ms 300ms; 
  ;
  transform-origin: center;
}

[aria-expanded="true"]  .line {
  transition:
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    x 200ms 300ms;
  ;
}

[aria-expanded="true"]  :is(.top, .bottom) {
  y: 45px;
}


[aria-expanded="true"]  .top {
  rotate: 45deg;
}

[aria-expanded="true"]  .middle {
  x: -80px;
}

[aria-expanded="true"]  .bottom {
  rotate:-45deg;
}

/* section hero */
.hero {
  background-color: var(--clr--primary--100);
}

.photo-wrapper {
  width: 100%;
  padding-left: .5em;
}

.avatar {
  min-width: 200px;
  margin: 0 auto;
}

.about_me {
  padding-left: 1em;
}

.text {
  font-size: var(--fs-500);
  padding-left: 2em;
}

/* section portfolio */

.portfolio {
  background-color: var(--clr--blue--light);
}

.battle-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80ch;
  margin-inline: auto;
  padding-bottom: 2em;
  border-bottom: 1px dotted var(--clr--red);
}

.cannon {
  height: 50px;
  filter: invert(35%);
}

.cannon--flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.battle-text {
  padding-right: 2em;
  text-align: center;
}


.smartphone-wrapper p {
  padding-right: 4em;
}

.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  border: 16px solid var(--clr--blue--darker);
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.smartphone::before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr--primary--100);
}

.smartphone::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background-color: var(--clr--primary--100);
  border-radius: 50%;
}

.smartphone__content {
  width: 360px;
  height: 640px;
  background: white;
}

iframe {
  height: 100%;
  width: 100%;
}

.laptop-wrapper p,
.java-text p, 
.contact-text {
  padding-top: 2em;
}

.contact-text-small {
  padding-left: 3.3rem;
}

.laptop {
  position: relative;
  width: 683px;
  height: 400px;
  border: 3px solid var(--clr--blue--darker);
  border-width: 24px 24px 80px;
  border-radius: 36px;
  margin-bottom: 3em;
  margin-inline: auto;
}

.laptop::after {
  content: '';
  display: block;
  position: absolute;
  width: 800px;
  height: 30px;
  top: 485px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--clr--blue--darker);
  border-radius: 3px;
}

.laptop::before {
  content: '';
  display: block;
  position: absolute;
  width: 120px;
  height: 15px;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--clr--primary--100);
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.laptop__content {
  width: 683px;
  height: 400px;
  overflow: hidden;
  background-color: white;
}

.clock {
  font-size: var(--fs-700);
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
 }

 .clock-gap {
  padding-inline: .5em;
 }

 .not-visible {
  color: var(--clr--blue--light)
 }

.js-hours,
.js-minutes,
.js-seconds,
.js-day {
  border-radius: 10px;
  background-color: var(--clr--yellow--light);
  text-align: center;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-day {
  background-color: var(--clr--primary--100);
}

.card-icon,
.github-icon {
  margin-inline: auto;
}

.github-icon {
  margin-top: 2rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { 
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(171, 185, 255, 0);
  }

  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 4px rgba(171, 185 ,255 ,255);
  }

  100% {
    transform: scale(0.9);
    
  }
}

/* skills */

.skills {
  background-color: var(--clr--yellow--light);
}

.skills-progress__text {
  padding-bottom: 2em;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 2em;
  font-size: var(--fs-500);
}

.skill__title {
  width: 40%;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skill__level {
  background-color: var(--clr--blue--darker);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 1em;
}

.not-accomplished {
  background-color: var(--clr--blue--light);
}

.half {
  position: relative;
}

.half::after {
  background-color: var(--clr--blue--darker);
  position: absolute;
  content: '';
  height: 100%;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px ;
}

/* footer*/

footer {
  background-color: var(--clr--blue--darker);
  color: var(--clr--primary--200);
  font-family: var(--ff--additional);
  text-align: right;
  position: relative;
}

#go-up {
  position: fixed;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(0, 88.1%, 32.9%, 0.8);
  color: white;
  bottom: 50px;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

#go-up:hover {
  background-color: hsl(0, 88.1%, 32.9%);
}


@media (max-width: 1300px) {
  .container {
    width: 90%;
  }

  .smartphone-wrapper p {
    padding-right: .5em;  
  }
}
/*
@media (max-width: 800px) and (orientation: landscape) {
  .nav__list {
    gap: .5em;
    font-size: var(--fs-400);
  }
}*/

@media (max-width: 800px) {
  h2::before {
    left: 53%;
  }

  h3 {
    margin-left: .5em;
  }
  
  .d-flex {
    display: block;
  }

  .nav-wrapper { 
    height: 100px;
    width: 100%;
  }

  .nav {
    visibility: hidden;
    position: absolute;
    background-color: var(--clr--blue--darker);
    padding-block: 1.5em;
    inset: 5.8rem 0 auto;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; 
    top: -300px;
    transition: all .4s ease-in-out;
  }

  .nav[data-visible] {
    visibility: visible;
    padding-top: 0;
    border-bottom: 3px solid var(--clr--red);
    top: 99px;
    width: 100vw;
  }

  .container-nav[data-visible] {
    border-left: transparent;
  }

  .nav__list {
    display: grid;
    gap: .5em;
    text-align: center;
    font-size: var(--fs-800);
  }

  .nav__toggle {
    display: block;
    background-color: var(--clr--blue--darker);
    border: 2px solid var(--clr--primary--200);
    border-bottom-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    cursor: pointer;
  }

  .hero {
    background-color: var(--clr--primary--100);
  }

  .about_me p:first-child {
    margin-top: 0;
  }

  .avatar {
    display: none;
  }

  .text {
    padding-left: 1em;
    padding-right: .5em;
    padding-bottom: 1em;
    font-size: var(--fs-400);
  }
  
  .battle-wrapper {
    padding-top: 2em;
  }
 

  .smartphone {
    width: 180px;
    height: 320px;
    border: 8px solid var(--clr--blue--darker);
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-radius: 18px;
    margin-inline: auto;
    margin-bottom: 1em; 
  }
  
  .smartphone::before {
    width: 30px;
    height: 2.5px;
    top: -15px;
  }
  
  .smartphone::after {
    width: 17.5px;
    height: 17.5px;
    left: 50%;
    bottom: calc(-65px / 2);
  }

  .smartphone__content,
  .laptop__content {
    transform: scale(50%);
    transform-origin: left top;
  }

  .laptop {
    width: calc(683px / 2);
    height: calc(400px / 2);
    border: 3px solid var(--clr--blue--darker);
    border-width: calc(24px / 2) calc(24px / 2) calc(80px / 2);
    border-radius: calc(36px / 2);
    margin-bottom: 0;
  }
  
  .laptop::after {
    width: calc(800px / 2);
    height: calc(30px / 2);
    top: calc(485px / 2);
    border-radius: 3px;
  }
  
  .laptop::before {
    width: calc(120px / 2);
    height: calc(15px / 2);
    bottom: calc(-100px / 2);
  }
  
  .clock {
    font-size: var(--fs-600);
    width: 300px;
    height: 100px;
   }

   .clock-gap {
    padding-inline: .2em;
   }

  .js-hours,
  .js-minutes,
  .js-seconds,
  .js-day {
    padding-top: .3em;
    padding-inline: .3em;
  }

  .skill-wrapper {
    margin-left: .7em;
    margin-right: .5em;
  }

  .contact-text-small {
    padding-left: 1rem;
  }
}

@media (max-width: 500px) {
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  h2::before {
    width: 30%;
  }

  .avatar {
    width: 50%;
  }

  .device-text {
    border-bottom: 1px dotted var(--clr--red);
  }

  .device-text p{
    font-size: var(--fs-400);
  }

  .smartphone {
    width: calc(360px / 4);
    height: calc(640px / 4);
    border: calc(16px /4) solid var(--clr--blue--darker);
    border-top-width: calc(60px / 4);
    border-bottom-width: calc(60px / 4);
    border-radius: calc(36px / 4);
    margin-inline: auto;
  }
  
  .smartphone::before {
    width: calc(60px / 4);
    height: calc(5px  /4);
    top: calc(-30px / 4);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .smartphone::after {
    width: calc(35px / 4);
    height: calc(35px / 4);
    left: 50%;
    bottom: calc(-65px / 4);
    transform: translate(-50%, -50%);
  }

  .smartphone__content,
  .laptop__content {
    transform: scale(25%);
    transform-origin: left top;
  }
  
  .laptop {
    width: calc(683px / 4);
    height: calc(400px / 4);
    border: calc(3px / 4 ) solid var(--clr--blue--darker);
    border-width: calc(24px / 4) calc(24px / 4) calc(80px / 4);
    border-radius: calc(36px / 4);
    margin-bottom: calc(3em / 4);
    margin-inline: auto;
    margin-bottom: 2em;
  }
  
  .laptop::after {
    width: calc(800px / 4);
    height: calc(30px / 4);
    top: calc(485px / 4);
    left: 50%;
    transform: translate(-50%);
  }
  
  .laptop::before {
    width: calc(120px / 4);
    height: calc(15px / 4);
    bottom: calc(-100px / 4);
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }

  .contact p,
  .java-text p {
    padding-left: 1em;
  }
  
  .clock {
    font-size: var(--fs-500);
    width: 280px;
    height: 100px;
    text-align: center;
    margin-inline: auto;
    padding-left: .2em;
   }

   .clock-gap {
    padding-inline: .1em;
   }
  
  .skill-wrapper {
    font-size: var(--fs-300);
    margin-left: .7em;
    margin-right: .5em;
  }

  .skill__title {
    width: 30%;
    height: 50px;
  }

  .skill__level {
    height: 15px;
    width: 15px;
  }
}
